{% extends "base.html" %}
{% load static %}


{% block title %}画風変換とは？{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">画風変換</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">ホーム</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">画風変換とは?<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron", style="background: white;">
    <div class="container">
        <h1>画風変換とは？</h1>

        <h3>作成中・・・</h3>
    </div>
</div>


</div>

{% endblock content %}